{% extends "init.html" %}
<br>
{% block title%}
Article - Samvaad
{% endblock %}
{% block body%}
<style>
body{
background: url('https://images2.alphacoders.com/600/600022.png')
}.bg-dark{
background: rgb(0,0,0);
background: linear-gradient(186deg, rgba(0,0,0,1) 0%, rgba(55,9,17,1) 99%);
}
div{
padding-right: 10%;
padding-left:10%;
}</style>
<div>
<font color='white'>
<br>
<center>
<h2>
MNNIT Daily Life
</h2>
<img src='\media\cclogo.png' width='100' class='imageD'>
</center>
<hr color='black'>
<br>
Life at MNNIT (Motilal Nehru National Institute of Technology) is a vibrant and dynamic experience, blending academic rigor with a lively campus culture. From the early morning hustle in the hostels to the late-night study sessions, students at MNNIT navigate a diverse array of activities. The campus buzzes with the energy of various clubs, technical events, cultural fests, and sports competitions. The academic curriculum is challenging, but students find solace in the supportive community and collaborative learning environment. Amidst the rigorous coursework, MNNITians also cherish moments of leisure at the scenic riverside, engaging in sports, cultural performances, and lively discussions at the numerous cafes. The close-knit community fosters friendships that extend beyond classrooms, making daily life at MNNIT a blend of academic growth, extracurricular exploration, and lasting camaraderie.
</div>
{%endblock%}