{% extends "init.html" %}
<br>
{% block title%}
Article - Samvaad
{% endblock %}
{% block body%}
<style>
body{
background: url('https://images2.alphacoders.com/600/600022.png')
}.bg-dark{
background: rgb(0,0,0);
background: linear-gradient(186deg, rgba(0,0,0,1) 0%, rgba(55,9,17,1) 99%);
}
div{
padding-right: 10%;
padding-left:10%;
}</style>
<div>
<font color='white'>
<br>
<center>
<h2>
History Of MNNIT
</h2>
<img src='\media\mnnit.jpg' width='100' class='imageD'>
</center>
<hr color='black'>
<br>
Established in 1961 as the Motilal Nehru Regional Engineering College (MNREC), Motilal Nehru National Institute of Technology (MNNIT) in Allahabad, India, has traversed a rich history in the realm of technical education. Initially under the affiliation of the University of Allahabad, it gained autonomy in 1976, evolving into a deemed university. Renamed MNNIT in 2002, the institute has consistently strived for academic excellence and technological innovation. Over the decades, MNNIT has produced numerous distinguished alumni who have excelled in diverse fields, contributing significantly to the nation's progress. The campus, marked by architectural marvels and expansive greenery, is a testament to the institute's growth. MNNIT continues to be a hub of research and technological advancements, reflecting its commitment to shaping future generations of engineers and innovators.
</div>
{%endblock%}