{% extends "init.html" %}
<br>
{% block title%}
Article - Samvaad
{% endblock %}
{% block body%}
<style>
body{
background: url('https://images2.alphacoders.com/600/600022.png')
}.bg-dark{
background: rgb(0,0,0);
background: linear-gradient(186deg, rgba(0,0,0,1) 0%, rgba(55,9,17,1) 99%);
}
div{
padding-right: 10%;
padding-left:10%;
}</style>
<div>
<font color='white'>
<br>
<center>
<h2>
Branches In MNNIT
</h2>
<img src='\media\MNNIT_logopng.png' width='100' class='imageD'>
</center>
<hr color='black'>
<br>
MNNIT Has 9 Branches Inclusive of ECM
</div>
{%endblock%}