{% extends "init.html" %}
<br>
{% block title%}
Article - Samvaad
{% endblock %}
{% block body%}
<style>
body{
background: url('https://images2.alphacoders.com/600/600022.png')
}.bg-dark{
background: rgb(0,0,0);
background: linear-gradient(186deg, rgba(0,0,0,1) 0%, rgba(55,9,17,1) 99%);
}
div{
padding-right: 10%;
padding-left:10%;
}</style>
<div>
<font color='white'>
<br>
<h2>
India
</h2>
<hr color='black'>
<br>
India, officially the Republic of India , is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal
</div>
{%endblock%}