{%extends 'init.html'%}
{%block title%} Empty Search {%endblock%}
{%block body%}
<style>
div{
    padding-left:5%;
}

body{
    background: url('https://wallpapertag.com/wallpaper/full/7/8/b/350830-best-website-background-1920x1080.jpg')
}

.bg-dark{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.36074940229998254) 0%, rgba(41,17,22,0.6912816151851365) 35%, rgba(255,219,149,0.4671919793307948) 100%);
}
</style>
<br>
<br>
<div>
Please Enter Something In The Search Box 
<br>
<a href="/" class="btn btn-warning"> Click Here To Return To Home Page </a>
</div>
{%endblock%}